@using AgencyWeb.Areas.Functions.Controllers;
@using AgencyWeb.Models
@using AgencyWeb.Areas.BusinessIndicators.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@model PremiumCollectionReportDto

@inject IHtmlLocalizer<PremiumCollectionReportController> HtmlLocalizer

@{
    var confirmDeleteMessage = String.Format(@HtmlLocalizer["ConfirmDeleteMessage"].Value);
    var confirmDeleteTitle = String.Format(@HtmlLocalizer["ConfirmDeleteTitle"].Value);
}

<div class="container-fluid p-0">
   @*  <h1 class="h5 mb-3 form-title">
        Danh sách TVTC
        <i class="fa fa-caret-right" aria-none="true"></i>
        <strong>Hỗ sơ TVTC</strong>
    </h1> *@
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card card-body form-control-ui">
                <p>
                    <a class="form-title" data-bs-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <strong>Chi tiết hợp đồng cần thu phí</strong>
                    </a>
                </p>
                <div class="collapse show" id="collapse01">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Hợp đồng").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).Value(Model.Policy).ReadOnly(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("TVTC").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).Value(Model.Agent).ReadOnly(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Bên mua bảo hiểm").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).Value(Model.PolicyOnwer).ReadOnly(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Người được bảo hiểm").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).Value(Model.LifeAssured).ReadOnly(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Số điện thoại").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).Value(Model.PhoneNumber).ReadOnly(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Địa chỉ").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(500).Value(Model.Address).ReadOnly(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().NumberBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Định kỳ đóng phí").LabelMode(EditorLabelMode.Floating)
                                    .Value(Model.BillingFrequency).ReadOnly(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().NumberBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Phí định kỳ").LabelMode(EditorLabelMode.Floating)
                                    .Value(Model.RegularPremium).ReadOnly(true))
                            </div>
                        </div>


                        
                         <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().DateBox()
                                    .Type(DateBoxType.Date)
                                    .DisplayFormat("dd/MM/yyyy")
                                    .UseMaskBehavior(true)
                                    .Placeholder("dd/mm/yyyy")
                                    .Value(Model.FirstIssuedDate)
                                    .Label("Ngày phát hành hợp đồng").LabelMode(EditorLabelMode.Floating)
                                    .ElementAttr("class", "required-validation").ShowClearButton(true)
                                    .ReadOnly(true)
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().DateBox()
                                    .Type(DateBoxType.Date)
                                    .DisplayFormat("dd/MM/yyyy")
                                    .UseMaskBehavior(true)
                                    .Placeholder("dd/mm/yyyy")
                                    .Value(Model.DateClosingOfPaid)
                                    .Label("Ngày kết thúc gia hạn đóng phí").LabelMode(EditorLabelMode.Floating)
                                    .ElementAttr("class", "required-validation").ShowClearButton(true)
                                    .ReadOnly(true)
                                    )
                            </div>
                        </div>
                        

                         <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Tình trạng hợp đồng").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).Value(Model.PolicyStatus).ReadOnly(true))
                            </div>
                        </div>
                         
                    </div>
                </div>
                <div class="row button-search-row">
                    <div class="col-md-12">
                        <button class="btn btn-purple-style" type="submit" onclick="onBackToAgentListClicked()"><span class="glyphicon glyphicon-triangle-left"></span> Trở về</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function onBackToAgentListClicked() {
        location.href = '@Url.Action("List", "PremiumCollectionReport", new { area = "Functions" })';
    }  
</script>