@model List<AgencyWeb.Areas.Functions.Controllers.ContactController.OfficeType>;
@using AgencyWeb.Areas.Functions.Models;
@{
    List<ContactDto> contactList = ViewBag.contactList;
}

<div class="container-fluid p-0">
    <div class="banner-header-news" style="background-image: url(../images/news/background-top-contact.png);">
        <div class="banner-header-news-text">
            <h1>Liên Hệ Với Chúng Tôi</h1>
            <h3>Shinhan Life Việt nam</h3>
            <h6>Cám ơn bạn đã ghé thăm trang web của Shinhan Life Việt Nam</h6>
        </div>
    </div>
    <div class="row">
        <div class="flex-fill w-100 form-control-ui">
            <div class="card-body py-3">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contact-row">
                            <strong class="form-title"> SHINHAN LIFE VIETNAM</strong>
                            <div class="contactCard">
                                <p><i class="bi bi-geo-alt-fill"></i> Văn phòng: Tầng 20, Tòa nhà Friendship, 31 Lê Duẩn, Phường Bến Nghé, Quận 1, Tp Hồ Chí Minh</p>
                                <p><i class="bi bi-telephone-fill"></i> Tổng Đài CSKH: <a>1900998800</a></p>
                                <p><i class="bi bi-envelope-fill"></i> Email: <a>shinhanlifevn@shinhan.com</a></p>
                            </div>
                        </div>
                        @foreach (var p in Model)
                        {
                            if (@p.OfficeTypeName != null && @p.OfficeTypeName != "")
                            {
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contact-row">
                                    <div class="row">
                                        <p class="form-title"><strong>@p.OfficeTypeName</strong></p>
                                    </div>
                                    <div class="row">
                                        @foreach (var m in contactList)
                                        {
                                            if (m.OfficeTypeId == p.OfficeTypeId)
                                            {
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                                    <p class="pb-2"><strong>@m.Province</strong></p>
                                                    <a id="addressText" href="@m.MapLink">
                                                        <i class="bi bi-geo-alt-fill"></i>
                                                        @m.Address
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="form-group" style="width: 100%; padding: 20px; border-radius: 15px;">
                            <iframe style="width: inherit; border-radius: 15px; border: 2px solid var(--white-color);" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3778988728277!2d106.7009362!3d10.7823414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fcf3efbb139%3A0x8a882b16fbf3bcf2!2zQ8O0bmcgVHkgVE5ISCBC4bqjbyBIaeG7g20gU2hpbmhhbiBMaWZlIFZp4buHdCBOYW0!5e0!3m2!1sen!2sus!4v1695124682370!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
